/* CSS reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;

}

.logo-small {
    display: none;
}

ul {
    list-style-type: none;
    color: #7b7b7b;
    display: flex;
    flex-direction: column;

}

h3 {
    color: #fff;
}

.playlist {
    gap: 20px;
}

a {
    text-decoration: none;
    color: #fff;

}

.icon-description {
    color: #707070;
    align-items: center;
    font-size: 30px;
}

.align-icons {
    display: flex;
    align-items: center;
}



.img-icon {
    width: 80px;
    height: 75px;
    color: #5d5d5d;

}



.container {
    display: flex;

}

.home {
    padding: 40px 10px;
}


.playlist {
    padding: 40px 10px;

}

.user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 20px;
}

.playlist-font {
    font-size: 20px;
    color: #707070;
}

.download-app {
    margin-top: 100px;
}



/* Sidebar */
.left {
    width: 230px;
    background-color: #000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.right {
    width: calc(100% - 230px);
    background-color: #151922;

}

footer {
    background-color: #282828;

}

@media screen and (max-width: 480px) {


    .logo-small {
        display: inline;
    }

    .logo-large {
        display: none;
    }

    .align-icons .icon-description {
        display: flex;
        flex-direction: column;
        display: none;
        justify-content: center;
    }

    .playlist {
        display: none;
    }

    h3 {
        display: none;
    }

    .download {
        display: none;
    }

    .user-name {
        display: none;
    }


}